<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${operation.toUpperCase()}">Title</title>
</head>
<body>
<a th:href="@{/welcome}" >Go back</a>
<hr>
<p>Money flow</p>
<form class="new_user" id="new_user" th:action="@{/registerMoneyFlow}" th:object="${operationForm}" method="POST" accept-charset="UTF-8">
    <ul>
        <li>
            <label >
                <span th:text="${'Date:'}"/>
            </label>
            <input  type="date" th:name="date" th:id="date" th:value="${currentDate}"  />
        </li>
        <li>
            <label >
                <span th:utext="${'Description:'}"/>
            </label>
            <input type="text" id="description" th:field="*{description}"/>
        </li>
        <li>
            <label>
                <span th:utext="${'Amount:'}"/>
            </label>
            <input type="text" th:field="*{amount}"/>
        </li>
        <li>
            <div class="form-group blu-margin" style="width: 100%">
                <select id="money_container_selector" class="form-control" th:field="*{moneyHolder}" name="money_holder" required>
                    <option value="" selected disabled hidden  ></option>
                    <option th:each="operator : ${moneyHolders}" th:value="${operator.getId()}" th:text="${operator.getName()}"></option>
                </select>
            </div>
        </li>

    </ul>
    <input th:hidden="true" type="text" th:name="operation" th:id="operation" th:value="${operation}" >
    <button th:text="Save" type='submit'></button>

    <!--<form name="welcomeForm" th:action="@{/welcome}" method="get" th:hidden="false">-->
        <!--<input type="submit" value="Main"/>-->
    <!--</form>-->
</form>
</body>
</html>