<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Budget Application</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" title="style" />
</head>

<body>
<div id="index">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a th:href="@{/index}" th:text="#{label.title}">...</a></h1>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li><a th:href="@{/index}" th:text="#{form.button.menu.main}" >...</a></li>
                <li><a th:href="@{/about}" th:text="#{form.button.menu.about}">...</a></li>
                <li><a th:href="@{/contact}" th:text="#{form.button.menu.contact}">...</a></li>
                <li style="float:right"><a th:href="@{/login}" th:text="#{form.button.menu.login}">Log in</a></li>
                <li class="selected" style="float:right"><a th:text="#{form.button.menu.register}" th:href="@{/register}">Register</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">
        <div class="sidebar">

            <h3>Sidebar do uzupełniania</h3>
            <h4>Tytuł_1</h4>
            <h5>Przykładowa data</h5>
            <p>Link_1<br /><a href="http://www.wp.pl">Read more</a></p>
            <p></p>
            <h4>Tytuł_2</h4>
            <h5>Przykładowa data</h5>
            <p>Link_2<br /><a href="http://www.wp.pl">Read more</a></p>
            <h3>Linki</h3>
            <ul>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
                <li><a href="#">link 3</a></li>
                <li><a href="#">link 4</a></li>
            </ul>
        </div>
        <div id="content">
            <h1 th:text="#{label.form.register}">Register account:</h1>
            <form autocomplete="off" class="new_user" id="new_user" th:action="@{/register}" th:object="${userForm}" method="POST" accept-charset="UTF-8">
                <ul>
                    <li>
                        <label for="user_email">
                                <span th:text="#{hint.user.email}">...</span>
                        </label>
                        <br>
                        <input autocomplete="nope" placeholder="Enter email address" type="email" id="user_email" th:field="*{name}" />
                    </li>
                    <li>
                        <label for='user_password' >
                            <span th:text="#{label.form.registerPass}">...</span>
                        </label>
                        <br>
                        <input autocomplete="new-password" placeholder="Enter password" type="password" th:field="*{password}" name="user[password]" id="user_password"/>
                    </li>
                    <li>
                        <label for='user_password_confirmation'>
                                <span th:text="#{hint.user.confirmPass}">...</span>
                        </label>
                        <br>
                        <input autocomplete="off" placeholder="Confirm password" type="password" name="user[password_confirmation]" th:field="*{confirmedPassword}" id="user_password_confirmation"/>
                    </li>
                    <li> <button type='submit' name='register' th:text="#{form.button.menu.register}">...</button></li>
                </ul>

            </form>
        </div>
        <br>
    </div>
</div>
<div id="footer">
    Copyright &copy; black_pink_white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | free from html5webtemplates.co.uk
</div>
</body>
</html>
