<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div class="item content" th:fragment="addIncome">
    <!--suppress ThymeleafVariablesResolveInspection -->
    <span th:if="${operation =='income'}">
        <h1 th:text="#{label.form.button.add_income}">...</h1></span>
    <span th:if="${operation == 'expense'}">
        <h1 th:text="#{label.form.button.add_expense}">...</h1></span>

    <form onsubmit="return validateCombo()" class="new_user" id="new_user" th:action="@{/registerMoneyFlow}" th:object="${operationForm}" method="POST" accept-charset="UTF-8">
        <ul style="width: 40%">
            <li>
                <label >
                    <span th:text="#{form.date}">...</span>
                </label>
                <input style="width: 100%" type="date" th:name="date" th:id="date" th:value="${currentDate}" required />
            </li>
            <li>
                <label >
                    <span th:utext="#{form.description}">...</span>
                </label>
                <input style="width: 100%" type="text" id="description" th:field="*{description}" required/>
            </li>
            <li>
                <label>
                    <span th:utext="#{form.amount}">...</span>
                </label>
                <input style="width: 100%" type="text" th:field="*{amount}" required/>
            </li>
            <li>
                <label>
                    <span th:text="#{label.wallet.selector}">...</span>
                </label>
                <div class="form-group blu-margin" style="width: 100%">
                    <select id="money_container_selector" class="form-control" th:field="*{moneyHolder}" name="money_holder" required>
                        <option value="" selected disabled hidden  ></option>
                        <option th:each="operator : ${moneyHolders}" th:value="${operator.getId()}" th:text="${operator.getName()}"></option>
                    </select>
                </div>
            </li>
        </ul>
        <!--<button th:text="#{label.wallet.save}" type='submit'>-->
            <input th:hidden="true" type="text" th:name="operation" th:id="operation" th:value="${operation}" >
            <button th:text="#{form.button.save}" type='submit'></button>

        </button>
    </form>
</div>

<div class="item content" th:fragment="empty">
</div>

<div class="item content" th:fragment="addExpense">
    <h1>Add new expense</h1>



</div>
</body>
</html>