<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div id="content" th:fragment="addIncome">
    <!--suppress ThymeleafVariablesResolveInspection -->
    <span th:if="${operation =='income'}">
        <h1 th:text="#{label.form.button.add_income}">...</h1></span>
    <span th:if="${operation == 'expense'}">
        <h1 th:text="#{label.form.button.add_expense}">...</h1></span>

    <form onsubmit="return validateForm()" class="new_user" id="new_user" th:action="@{/registerMoneyFlow}" th:object="${operationForm}" method="POST" accept-charset="UTF-8">
        <ul style="width: 40%">
            <li>
                <label >
                    <span th:text="#{form.date}">...</span>
                </label>
                <input style="width: 100%" type="date" th:name="date" th:id="date" th:value="${currentDate}" required />
            </li>
            <li>
                <label >
                    <span th:utext="#{form.description}">...</span>
                </label>
                <input style="width: 100%" type="text" id="description" name="description" th:field="*{description}" required/>
            </li>
            <li>
                <label>
                    <span th:utext="#{form.amount}">...</span>
                </label>
                <input pattern='^\d+(?:[\\.\\,]\d{0,2})$' style="width: 100%" type="text" id="amountInputField" th:field="*{amount}" required/>
            </li>
            <span th:if="${operation =='expense'}">
                    <li>
                <label>
                    <span th:text="#{form.budget.category}">...</span>
                </label>
                <div class="form-group blu-margin" style="width: 100%">
                    <select id="category_container_selector" class="form-control" th:field="*{category}" name="money_holder" required>
                        <option value="" selected disabled hidden  ></option>
                     <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}"></option>
                    </select>
                </div>
            </li>
            </span>

            <li>
                <label>
                    <span th:text="#{label.wallet.selector}">...</span>
                </label>
                <div class="form-group blu-margin" style="width: 100%">
                    <select id="money_container_selector" class="form-control" th:field="*{moneyHolder}" name="money_holder" required>
                        <option value="" selected disabled hidden  ></option>
                        <option th:each="operator : ${moneyHolders}" th:value="${operator.getId()}" th:text="${operator.getName()}"></option>
                    </select>
                </div>
            </li>

        <!--<button th:text="#{label.wallet.save}" type='submit'>-->
            <input th:hidden="true" type="text" th:name="operation" th:id="operation" th:value="${operation}" >
        <li>    <button th:text="#{form.button.save}" type='submit'></button></li>
        </ul>
        </button>
    </form>
        <div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
        <!--<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>-->
</div>

<div class="item content" th:fragment="addInvestment">
    <p>Investment </p>
        <h1 th:text="#{label.form.button.add_investment}">...</h1>

    <form onsubmit="return validateForm()" class="new_investment" id="new_investment" th:action="@{/registerInvestment}"
          th:object="${investmentForm}" method="POST" accept-charset="UTF-8">
        <table class="investment" style="width: 50%">
            <tr>
                <td class="investment"><label >
                    <span th:text="#{form.date}">...</span>
                </label></td>
                <td class="investment">

                <input style="width: 95%" type="date" th:name="date" th:id="date" th:value="${currentDate}" required />
                </td>
            </tr>
            <tr>
                <td class="investment"><label>
                    <span th:utext="#{form.amount}">...</span>
                </label></td>
                <td class="investment"><input pattern='^\d+(?:[\.\,]\d{0,2})$' style="width: 95%" type="text" id="amountInputField" th:field="*{amount}" required/>
                </td>
            </tr>

            <tr>
                <td class="investment"> <label>
                    <span th:utext="'Oprocentowanie'">...</span>
                </label></td>
                <td class="investment"><input pattern='^\d+(?:[\.\,]\d{0,2})$' style="width: 95%" type="text" id="percentageInputField" th:field="*{percentage}" required/>
                </td>
            </tr>

            <tr>
                <td class="investment"> <label for="lengthInputField">
                    <span th:utext="'Okres trwania'">...</span>
                </label></td>
                <td class="investment">
                <input pattern='^\d+$' style="width: 9%; overflow: hidden" type="text" id="lengthInputField" th:field="*{length}" required/>
                <input style="width: 80%" type="text" th:field="*{lengthMarker}" required/>
                </td>
            </tr>
        </table>
        <button th:text="#{form.button.save}" type='submit'></button>
        </button>
    </form>
</div>

<div class="item content" th:fragment="empty">
</div>

<div class="item content" th:fragment="addExpense">
    <h1>Add new expense</h1>



</div>
</body>
</html>