<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div class="item header" th:fragment="header_menu">

    <!--suppress ThymeleafVariablesResolveInspection -->
    <p th:text="#{label.form.loggedAs}+' ' +${loggedUser}">.</p>

    <div>
        <div style="float: left; width: 65%; overflow: hidden">
            <a th:href="@{/welcome}" class="btn btn-secondary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.summary}">...</a>
            <a th:href="@{/analyze}" class="btn btn-secondary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.analyze}">...</a>
            <a th:href="@{/plan}" class="btn btn-secondary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.plan}">...</a>
            <a th:href="@{/settings}" class="btn btn-secondary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.settings}">...</a>
        </div>
        <div style="float: right; overflow: hidden" >
            <a href="javascript: document.logoutForm.submit()" class="btn btn-secondary btn-sm active" role="button"
               aria-pressed="true"> Logout</a>
        </div>
    </div>
</div>
</body>
</html>