<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div class="item content" th:fragment="addWallet">
        <h1>Add new wallet</h1>
    <form onsubmit="return validateCombo()" class="new_wallet" id="new_wallet" th:action="@{/addWallet}" th:object="${walletForm}" method="POST" accept-charset="UTF-8">
        <ul style="width: 40%">
            <li >
                <label for="holder_id">
                    <span th:text="#{label.wallet.name}">...</span>
                    <div class='hint'>
                        <div th:text="#{hint.wallet.name}">...</div>
                    </div>
                </label>
                <br>
                <input style="width: 100%"  type="text" th:field="*{name}" id="holder_id"  required/>
            </li>
            <li >
                <label for='wallet_cash' >
                    <span th:text="#{label.wallet.cash}"/>
                    <div class='hint'>
                        <div th:text="#{hint.wallet.cash}"/>
                    </div>
                </label>
                <br>
                <input style="width: 100%" type="text" th:field="*{cash}" name="wallet_cash" id="wallet_cash"/>
            </li>
            <li >
                <label>
                    <span th:text="#{label.wallet.holder}"/>
                    <div class='hint'>
                        <div th:text="#{hint.wallet.holder}"/>
                    </div>
                </label>
                <div class="form-group blu-margin" style="width: 100%">
                    <select id="money_container" class="form-control" th:field="*{moneyHolderType}" name="money_holder" required>
                        <option value="" selected disabled hidden ></option>
                        <option th:each="operator : ${operators}" th:value="${operator.name()}" th:text="${operator.getType()}"></option>
                    </select>
                </div>
            </li>
        </ul>
        <button th:text="#{label.wallet.save}" type='submit'>
        </button>
    </form>
</div>

<div class="item content" th:fragment="addAccount">
    <h1>Add new account</h1>



</div>
</body>
</html>