<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="item nav" th:fragment="plan_nav">
    <div class="sidenav">

    </div>
</div>

<div class="item nav" th:fragment="account_nav">
    <ul>
        <li>
            <a th:href="@{/registerFlow(val='income')}" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.add_income}">...</a></li>
        <li>
            <a th:href="@{/registerFlow(val='expense')}" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.add_expense}">...</a></li>
        <li>
           <a th:href="@{/recalculateBudget}" class="btn btn-primary btn-sm active" role="button"
              aria-pressed="true" th:text="#{label.form.button.recalculate_budget}">...</a>
        </li>
    </ul>
<hr>
    <ul>
        <p th:text="${'Suma: '+accountSum}">...</p>
        <hr>
        <th:block th:each="field: ${accounts}">
        <li>
           <p th:text="${field.getName()+': '+field.getAmount()}">...</p>
        </li>
    </th:block>

    </ul>
</div>

<div class="item nav" th:fragment="investment_nav">
    <ul>
        <li><a th:href="@{/registerInvestment}" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.add_investment}">...</a>
        </li>
    </ul>
    <p th:text="${'Suma: '+investmentSum}">...</p>
    <hr>
    <ul>
        <th:block th:each="field : ${investments}">
            <li>
                <a th:href="@{/getInvestment(val=${field.getId()})}"
                   th:text="${field.getAmount()+'zł - '+field.getPercentage()+'% - '}+${field.getLengthDays()}+' '+ #{${field.getLength().getMessage()}}">...</a>
            </li>
        </th:block>
    </ul>

</div>

</body>
</html>