<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="item nav" th:fragment="plan_nav">
    <div class="sidenav">
        <ul>
      <li>  <a th:href="@{/planCashFlow}" class="btn btn-secondary btn-sm active" role="button"
           aria-pressed="true" th:text="#{label.form.button.plan.cash.flow}">...</a></li>

       <li> <a th:href="@{/planBudget}" class="btn btn-secondary btn-sm active" role="button"
           aria-pressed="true" th:text="#{label.form.button.plan.budget}">...</a></li>

       <li> <a th:href="@{/planExpenses}" class="btn btn-secondary btn-sm active" role="button"
           aria-pressed="true" th:text="#{label.form.button.plan.expenses}">...</a></li>
        </ul>
    </div>
</div>

</body>
</html>