<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="item nav" th:fragment="plan_nav">
    <div class="sidenav">

    </div>
</div>

<div class="item nav" th:fragment="account_nav">
    <ul>
        <li>
            <a th:href="@{/registerOperation(val='income')}" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.add_income}">...</a></li>
        <li>
            <a th:href="@{/registerOperation(val='expense')}" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.add_expense}">...</a></li>
        <li>
           <a th:href="@{/recalculateBudget}" class="btn btn-primary btn-sm active" role="button"
              aria-pressed="true" th:text="#{label.form.button.recalculate_budget}">...</a>
        </li>
        <li>
            <a th:href="@{/loadCsv(type=budget)}" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.load_budget_from_file}">...</a>
        </li>
    </ul>
    <ul>

        <li>
            <hr>
                <p th:text="${'Suma: '+accountSum}">...</p>
            <hr>
        </li>

        <th:block th:each="field: ${accounts}">
        <li>
           <p th:text="${field.getName()+': '+field.getAmount()}">...</p>
        </li>
    </th:block>

    </ul>
</div>

<div class="item nav" th:fragment="summary_nav">
    <div style="float: left; width: 100%">
        <p th:text="#{label.form.loggedAs}+' ' +${loggedUser}"></p>
        </br>
        <p style="float: left" th:text="#{label.form.balance}">... </p>
        <p style="color: green; text-align: right;" th:if="${balance.get('balance')>=0}"
           th:text="${' +' + balance.get('balance')} ">...</p>
        <p style="color: red; text-align: right" th:unless="${balance.get('balance')>=0}"
           th:text="${' '+balance.get('balance')}">...</p>
        <p th:text="${'Przychody: '}" style="float: left"></p>
        <p class="income" th:text="${balance.get('income')}" style="text-align: right"></p>
        <p th:text="${'Wydatki: '}" style="float: left"></p>
        <p class="expense" th:text="${balance.get('expense')}" style="text-align: right"></p>

        <hr>
        <p th:text="${'Portfele:'}" style="float: left"></p>
        <p th:text="${accountSum}" style="text-align: right"></p>

        <p th:text="${'Lokaty:'}" style="float: left"></p>
        <p th:text="${investmentSum}" style="text-align: right"></p>


    </div>
</div>

<div class="item nav" th:fragment="investment_nav">
    <ul>
        <li><a th:href="@{/registerInvestment}" class="btn btn-primary btn-sm active" role="button"
               aria-pressed="true" th:text="#{label.form.button.add_investment}">...</a>
        </li>
    </ul>
    <li>
        <hr>
            <p th:text="${'Suma: '+investmentSum}">...</p>
        <hr>
    </li>

    <ul>
        <th:block th:each="field : ${investments}">
            <li>
                <a th:href="@{/getInvestment(val=${field.getId()})}"
                   th:text="${field.getAmount()+'zł - '+field.getPercentage()+'% - '}+${field.getLengthDays()}+' '+ #{${field.getLength().getMessage()}}">...</a>
            </li>
        </th:block>
    </ul>

</div>

</body>
</html>