<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="month_balance" th:fragment="planned_budget">
    <p style="text-align: center" th:text="#{form.plan.planned_budget}">...</p>
    <table style="width: 98%; border: 0px">
    <tr>
    <th style=" width: 7%; text-align: center; border: 0px">
        <a  class="fas fa-angle-left" th:href="@{/previousMonth(month=${month.getPrevious()})}" ></a></th>
        <th style="border: 0px"><p  th:text="${month.getMonthName()}" style="text-align: center; border: 0px"></p></th>
        <th style=" width: 7%; text-align: center; border: 0px">
            <a class="fas fa-angle-right" th:href="@{/nextMonth(month=${month.getNext()})}" ></a></th>
    </tr>
    </table>
    <div class="planed_operations">
        <table style="width:100%">

            <tr>
                <th style="width: 30%" th:text="#{form.budget.category}">...</th>
                <th style="width: 17%" th:text="#{form.budget.planned}">...</th>
                <th style="width: 17%" th:text="#{form.budget.spend}">...</th>
                <th style="width: 17%" th:text="#{form.budget.left}">...</th>
                <th style="width: 17%" th:text="#{form.budget.percent}">...</th>
            </tr>
            <th:block th:each="budget : ${plannedBudgets}">
                <tr>
                    <td style="width: 30%" th:text="${budget.getCategory()}">...</td>
                    <td style="width: 17%" th:text="${budget.getPlanned()+' PLN'}">...</td>
                    <td style="width: 17%" th:text="${budget.getSpend()}+' PLN'">...</td>
                    <td th:classappend="${budget.getDifference() > 0} ? income : expense"
                        style="width: 17%" th:text="${budget.getDifference()+' PLN'}">...</td>
                    <td style="width: 17%" th:text="${budget.getPercent()+' %'}">...</td>

                </tr>
            </th:block>
        </table>
    </div>
</div>

<div class="month_balance" th:fragment="planned_operation">
    <p style="text-align: center" th:text="#{form.plan.planned_operations}" >...</p>
    <div class="planed_operations">
        <table style="width:100%">
            <tr>
                <th style="width: 20%" th:text="#{form.date}">Date</th>
                <th style="width: 50%" th:text="#{form.description}">Description</th>
                <th style="width: 10%" th:text="#{form.amount}">Amount</th>
                <th style="width: 10%" th:text="#{form.plan.finish}">...</th>
                <th style="width: 10%" th:text="#{form.plan.delete}">...</th>

            </tr>
            <th:block th:each="field : ${plannedOperations}">
                <tr>
                    <td th:text="${field.getDueDate()}">A Smoke Test'</td>
                    <td style=" word-break: break-all" th:text="${field.getDescription()}">A Smoke Test'</td>
                    <td th:classappend="${field.getPlanedType().getType().equalsIgnoreCase('income')} ? income : expense" th:text="${field.getAmount()}">A Smoke Test'</td>
                    <td style="text-align: center">
                        <form method="POST" th:action="@{/finishPlan(operationId=${field.getId()})}">
                            <button type="submit" name="submit" value="value" class="far fa-calendar-check"></button>
                        </form>
                    </td>
                    <td style="text-align: center">
                        <form method="POST" th:action="@{/deletePlan(operationId=${field.getId()})}">
                            <button type="submit" name="submit" value="value" class="fas fa-trash"></button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

</body>
</html>