
.hint { font-size: 10px; color: #bbbbbb; font-weight: normal; padding-top: 2px; line-height: 1.2em; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
