<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Budget Application</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" title="style" />
</head>

<body>
<div id="contact">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a th:href="@{/index}" th:text="#{label.title}">...</a></h1>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li ><a th:href="@{/index}" th:text="#{form.button.menu.main}" >...</a></li>
                <li><a th:href="@{/about}" th:text="#{form.button.menu.about}">...</a></li>
                <li><a th:href="@{/contact}" th:text="#{form.button.menu.contact}">...</a></li>
                <li class="selected" style="float:right"><a th:href="@{/login}" th:text="#{form.button.menu.login}">Log in</a></li>
                <li style="float:right"><a th:text="#{form.button.menu.register}" th:href="@{/register}">Register</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">
        <div class="sidebar">

            <h3>Sidebar do uzupełniania</h3>
            <h4>Tytuł_1</h4>
            <h5>Przykładowa data</h5>
            <p>Link_1<br /><a href="http://www.wp.pl">Read more</a></p>
            <p></p>
            <h4>Tytuł_2</h4>
            <h5>Przykładowa data</h5>
            <p>Link_2<br /><a href="http://www.wp.pl">Read more</a></p>
            <h3>Linki</h3>
            <ul>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
                <li><a href="#">link 3</a></li>
                <li><a href="#">link 4</a></li>
            </ul>
        </div>
        <div id="content">
            <h1 th:text="#{label.form.login}">...</h1>
            <p th:text="#{label.form.hint.login}">...</p>


            <form th:action="@{/login}" method="post" >
                <ul>
                    <li>
                        <label th:text="#{label.form.loginTitle}">...</label><br>
                        <input placeholder="Email address" type="text" name="username"/>

                    </li>
                    <li>
                        <label th:text="#{label.form.loginPass}">...</label><br>
                        <input placeholder="Password" type="password" name="password"/>

                    </li>
                    <li>
                        <input th:type="submit" th:value="#{form.button.menu.login}" title=""/>
                    </li>
                </ul>
            </form>
            <!--
                    <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>


            <div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
                 -->
        </div>

    </div>
</div>
<div id="footer">
    Copyright &copy; black_pink_white | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | free from html5webtemplates.co.uk
</div>
</body>
</html>