
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Analyze</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="javascript" th:href="@{/js/validators.js}"></script>
</head>
<body>
<div class="container">
    <div id="header" th:replace="fragments/header_content :: header_menu"></div>
    <div  th:replace="fragments/sub_menu :: settings_submenu"></div>

<div id="site_content">
    <div class="sidebar">
        <div class="sidenav">

        </div>
    </div>
<div class = "content">

    <div th:if="${fragmentHtml} == null">
        <div class="item content"></div>
    </div>
    <div th:if="${fragmentHtml}!=null">
        <div class="item content" th:replace="${'fragments/settings_content'} :: ${fragment}"></div>
    </div>
</div>
</div>
    <div class="item footer" th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>