
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Budget Application</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" title="style" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div id="header" th:replace="fragments/header_content :: header_menu"></div>
    <div  th:replace="fragments/sub_menu :: summary_submenu"></div>
</div>

<div id="site_content">
        <div class="sidebar">
            <div style="float: left; width: 100%">
                <p th:text="#{label.form.loggedAs}+' ' +${loggedUser}"> </p>
                </br>
                <p style="float: left" th:text="#{label.form.balance}" >... </p>
                <p style="color: green; float: right;" th:if="${balance.get('balance')>=0}" th:text="${' +' + balance.get('balance')} ">...</p>
                <p style="color: red; float: right" th:unless="${balance.get('balance')>=0}" th:text="${' '+balance.get('balance')}">...</p>

            </div>
        </div>

    <div id="content">
        <div class="month_balance">
            <p style="text-align: center" th:text="#{form.plan.exchange_rate}">...</p>
            <table style="width:100%">
                <tr>
                    <th style="width: 20%" th:text="'Currency'">Date</th>
                    <th style="width: 10%" th:text="'Rate'">...</th>
                    <th style="width: 10%" th:text="'Date'">...</th>

                </tr>
                <th:block th:each="field : ${currency}">
                    <tr>
                        <td th:text="${field.getCurrency()}">A Smoke Test'</td>
                        <td th:text="${field.getRates()[0].getMid()}">A Smoke Test'</td>
                        <td th:text="${field.getRates()[0].getEffectiveDate()}">A Smoke Test'</td>

                    </tr>
                </th:block>
            </table>
            <!--<div style="float: left; width: 15%">-->
                <!--<p style="float: left" th:text="#{label.form.balance}" >... </p>-->
                <!--<p style="color: green; float: right;" th:if="${balance>=0}" th:text="${' +' + balance} ">...</p>-->
                <!--<p style="color: red; float: right" th:unless="${balance>=0}" th:text="${' '+balance}">...</p>-->
            <!--</div>-->


            <!--<div style="float: left; width: 15%">-->
                <!--<p style="float: left" th:text="#{label.form.balance}" >... </p>-->
                <!--<p style="color: green; float: right;" th:if="${balance>=0}" th:text="${' +' + balance} ">...</p>-->
                <!--<p style="color: red; float: right" th:unless="${balance>=0}" th:text="${' '+balance}">...</p>-->
            <!--</div>-->

            <!--<hr>-->
            <!--<div style="width: 15%">-->
                <!--<p style="float: left" th:text="#{form.plan.income}">Income: </p>-->
            <!--<p  style="color: green; float: right" th:text="${' '+ income}"></p>-->
            <!--</div>-->
            <!--<div style=" width: 15%">-->
            <!--<p style="float: left" th:text="#{form.plan.expense}">...</p>-->
                <!--<p style="color: red; float: right;" th:text="${' '+ expense}"></p>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
            <!--<hr>-->
        </div>
        <hr>
        <div th:replace="fragments/summary_content::planned_budget">...</div>
<hr>
        <div th:replace="fragments/summary_content::planned_operation">...</div>

    </div>
</div>

    <div class="item footer" th:replace="fragments/footer::footer ">Footer</div>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>